---
#Add "layout: compress" here to compress the html code
---
<html lang="{{ site.lang }}">
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  <section id="{% t main.welcomeSection.anchor%}">
    <div>
        <h2>{% t main.welcomeSection.heading %}</h2>
        <p>{% t main.welcomeSection.p1 %}</p>
    </div>
</section>
  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
        {{ content }}
    </div>
  </div>

  {% include footer.html %}

{% include scripts.html %}

</body>

</html>

